@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="text-center centeredContainer" >
 
    <h1 class="display-4 spacing">@ViewData["Title"]</h1>
    <br />
    <p style="font-size: 20px"> Here are privacy policies of our company!</p>
  
</div>
